data/*
!data/mimic-4
data/mimic-4/*
!data/mimic-4/2018_I9gem.txt
notebooks/
*-checkpoint*
medbert/diagnoses_icd10.csv
medbert/icd10_categories_descriptions.csv
**/*.log
**/*.zip
medbert/similarity_scores.csv
medbert/bert_embeddings.tsv
medbert/kernel_meta/*
medbert/bert-base-uncased/*
**/*.png
statistic/cat_co_matrix_conditional_prob.csv
mlm/mlm_results.csv
llm/log.txt
llm/logs/*
llm/logs2/*
llm/logs_qwen/*
llm/*.txt
llm/responses*
llm/scores*
